body,
html {
  background-color: black;
}

.background {
  /* Set up positioning */
  transform: scale(1.1, 1.1) translateY(1em);
  position: relative;
  top: 0;
  left: 0;
}

.background-tentacles {
  transform: translateY(-1em);
}

.background-eyes {
  transform: scale(1.025, 1.025);
}

.background-image {
  transform: scale(1.025, 1.025);
}

.game {
  background-image: url(./img/citation_cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid aliceblue;
  border-radius: 10px;
}
.font-face-gm {
  font-family: "HungryPro";
}
