body,html {
  background-color: black;
}

.background {      
      /* Set up positioning */
      position: fixed;
      top: 0;
      left: 0;
}

.background-tentacles {
  transform: scale(1.4,1.4);
}

.background-eyes {
  transform: scale(1.1,1.1);
}

.game {
  background-image: url(./img/citation_cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid aliceblue;
  border-radius: 10px;
}
.font-face-gm {
  font-family: "HungryPro";
 }