body,
html {
  background-color: black;
}

#hallpass-logo {
  position: fixed;
  left: 3em;
  top: 2em;
  z-index: 10;
}

#scroll-up {
  z-index: 999;
  position: fixed;
  z-index: 10;
  bottom: 3em;
  right: 3em;
  color: orange;
}

#scroll-up:hover {
  animation: scroll-down-hover 0.05s linear forwards;
}

#scroll-down {
  position: fixed;
  z-index: 10;
  bottom: 2em;
  color: orange;
}

#scroll-down:hover {
  animation: scroll-down-hover 0.05s linear forwards;
}

@keyframes scroll-down-hover {
  0% {
    transform: scale(1.8, 1.8);
    color: orange;
  }
  100% {
    transform: scale(1.5, 1.5);
    color: rgb(255, 239, 208);
  }
}

.background {
  /* Set up positioning */
  transform: scale(1.1, 1.1) translateY(1em);
  position: relative;
  top: 0;
  left: 0;
}

.background-tentacles {
  transform: translateY(-1em);
}

.background-eyes {
  transform: scale(1.025, 1.025);
}

.background-image {
  transform: scale(1.025, 1.025);
}

.game {
  background-image: url(./img/citation_cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid aliceblue;
  border-radius: 10px;
}
.font-face-gm {
  font-family: "HungryPro";
}
